.product-list {

    text-align: center;
    margin-top: 50px;

}

.product-list ul li {

    display: inline-block;
    border: 1px solid orange;
    padding: 5px;
    width: 150px;
}

.product-list ul {

    margin: 0;
}

.search {
    margin: 10px;
    height: 60px;
    width: 400px;
    margin-bottom: 30px;
}
